<div class="calendar-container">

  <header class="intestazioneCalendario">
    <button class="nav-btn" (click)="mesePrecedente()">&#10094;</button>  <!--&#10094 → icona del Maggiore-->

    <h2 class="meseEanno">
      {{ nomeDelMese() }} {{ anno() }}
    </h2>

    <button class="nav-btn" (click)="meseSuccessivo()">&#10095;</button> <!--&#10095 → icona del Minore-->
  </header>

  <!-- GIORNI DELLA SETTIMANA -->
  <div class="giorniDellaSettimana">
    <div *ngFor="let giorno of giorniDellaSettimana">
      {{ giorno }}
    </div>
  </div>

  <!-- GRIGLIA CALENDARIO -->
  <div class="grigliaCalendario">
    <div
      *ngFor="let giorno of giorniDelCalendario()"
      class="cellaCalendario"
      [class.meseDiverso]="giorno.meseDiverso"
      [class.oggi]="giorno.giornoAttuale"
      (click)="giornoSelezionato(giorno)"
    >
      {{ giorno.numero_del_giorno_del_calendario }}
    </div>
  </div>

</div>
