<div class="calendar-container">

  <!-- HEADER -->
  <header class="calendar-header">
    <button class="nav-btn" (click)="mesePrecedente()">&#10094;</button>

    <h2 class="calendar-title">
      {{ nomeDelMese() }} {{ anno() }}
    </h2>

    <button class="nav-btn" (click)="meseSuccessivo()">&#10095;</button>
  </header>

  <!-- GIORNI DELLA SETTIMANA -->
  <div class="giorniDellaSettimana">
    <div *ngFor="let day of giorniDellaSettimana">
      {{ day }}
    </div>
  </div>

  <!-- GRIGLIA GIORNI -->
  <div class="days-grid">
    <div
      *ngFor="let day of giorni()"
      class="day-cell"
      [class.other-month]="day.otherMonth"
      [class.today]="day.giornoAttuale"
      (click)="selectDay(day)"
    >
      {{ day.date }}
    </div>
  </div>

</div>
