.timeline-container
{
  width: 240px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, sans-serif;
  color: white;

  display: block;

  .control-buttons
  {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;

    button
    {
      padding: 6px 10px;
      font-size: 12px;
      border: none;
      border-radius: 4px;
      background: #444;
      color: white;
      cursor: pointer;
      transition: background 0.2s;

      &.active
      {
        background-color: #4c2a85;
      }

      &:hover
      {
        background: #666;
      }
    }
  }
}

svg
{
  background: #111;
  border-radius: 50%;

  .hour-label
  {
    font-size: 12px;
    font-weight: bold;
  }
}

svg.day
{
  .main-circle
  {
    stroke: #f9cb30;
    fill: #88cbe0;
  }

  .ticks 
  {
    .tick-path
    {
      stroke: #FFC107;
    }

    .hour-label
    {
      fill: black;
    }
  }
}
  
svg.night
{
  .main-circle
  {
    stroke: #3F51B5;
    fill: #11061c;
  }

  .ticks
  {
    .tick-path
    {
      stroke: #3F51B5;
    }

    .hour-label
    {
      fill: #ede1b3;
    }
  }
}

.activity-arcs .arc {}