<div class="calendar-container">

  <header class="intestazioneCalendario">
    <button class="nav-btn" (click)="mesePrecedente()">&#10094;</button>  <!--&#10094 → icona del Maggiore-->

    <h2 class="meseEanno">
      {{ nomeDelMese() }} {{ anno() }}
    </h2>

    <button class="nav-btn" (click)="meseSuccessivo()">&#10095;</button> <!--&#10095 → icona del Minore-->
  </header>

  <!-- GIORNI DELLA SETTIMANA -->
  <div class="giorniDellaSettimana">
   @for (giorno of giorniDellaSettimana; track giorno) { 
    <div> 
      {{ giorno }} 
    </div> 
    }
  </div>

 <!-- GRIGLIA CALENDARIO -->
  <div class="grigliaCalendario">
    @for (giorno of giorniDelCalendario(); track giorno.anno + '-' + giorno.mese + '-' + giorno.numero_del_giorno_del_calendario) {
     <div
        class="cellaCalendario"
        [class.meseCorrente]="giorno.meseCorrente"
        [class.mesePrecedente]="giorno.mesePrecedente"
        [class.meseSuccessivo]="giorno.meseSuccessivo"
        [class.oggi]="giorno.giornoAttuale"
        [class.selezionato]=
        "
          giornoSelezionatoSignal()?.numero_del_giorno_del_calendario === giorno.numero_del_giorno_del_calendario &&
          giornoSelezionatoSignal()?.mese === giorno.mese &&
          giornoSelezionatoSignal()?.anno === giorno.anno &&
          giorno.meseCorrente
        "
        (click)="giornoSelezionato(giorno)">{{ giorno.numero_del_giorno_del_calendario }}
    </div>
   } 
</div>

<!-- LEGENDA -->
<div class="legendaCalendario">
  <div class="voceLegenda">
    <span class="testoLegenda mesePrecedente"></span>
    <span>Giorni del mese precedente</span>
  </div>
  <div class="voceLegenda">
    <span class="testoLegenda meseCorrente"></span>
    <span>Giorni del mese corrente</span>
  </div>
  <div class="voceLegenda">
    <span class="testoLegenda meseSuccessivo"></span>
    <span>Giorni del mese successivo</span>
  </div>
  <div class="voceLegenda">
    <span class="testoLegenda oggi"></span>
    <span>Oggi</span>
  </div>
  <div class="voceLegenda">
    <span class ="selezionato">Giorno selezionato</span>
  </div>
</div>
