<div class="timeline-container">
  <!-- CONTROLS -->
  <div class="control-buttons">
    <button (click)="visibleCycle = 'day'" [class.active]="visibleCycle === 'day'">{{ 'CircularTimelineComponent.Day' | translate }}</button>
    <button (click)="visibleCycle = 'night'" [class.active]="visibleCycle === 'night'">{{ 'CircularTimelineComponent.Night' | translate }}</button>
  </div>

  <svg [class.day]="visibleCycle === 'day'" [class.night]="visibleCycle === 'night'"
    width="240"
    height="240"
    viewBox="0 0 200 200">

    <!-- MAIN CIRCLE -->
    <circle class="main-circle"
      cx="100" cy="100" r="90"
      stroke-width="1.5"
      fill="none"
    />
    
    <!-- CENTRAL ICON (SUN / MOON) -->
    <g class="center-icon">
      @if (visibleCycle === 'day')
      {
        <!-- SUN -->
        <image href="img/sun.png" x="75" y="75" width="50" height="50" />
      }
      @else
      {
        <!-- MOON -->
        <image href="img/moon.png" x="81" y="81" width="38" height="38" /> 
      }
    </g>


    <!-- HOUR TICKS -->
    <g class="ticks">
      @for (t of getTicks(); track t.angle)
      {
        <path class="tick-path"
          [attr.d]="buildTickPath(t.angle)"
          stroke-width="2"
        />

        <text 
          [attr.x]="polarToCartesian(100, 100, 72, t.angle).x"
          [attr.y]="polarToCartesian(100, 100, 72, t.angle).y"
          text-anchor="middle"
          alignment-baseline="middle"
          class="hour-label"
        >
          {{ t.hour }}
        </text>
      }
    </g>

    <!-- ACTIVITY ARCS FOR THE SELECTED CYCLE -->
    <g class="activity-arcs">
      @for (arc of activityArcs; track arc.startAngle)
      {
        @if (arc.cycle === visibleCycle)
        {
          <path
            class="arc"
            [attr.d]="drawPortionArc(arc)"
            [attr.stroke]="getColorForEvent(arc.originalEvent)"
            stroke-width="7"
            fill="none"
            stroke-linecap="round"
          />
        }
      }
    </g>
  </svg>
</div>